{% load static %}

  <header>
    <nav class="navbar navbar-light" style="background-color: lightskyblue">
      <div class="container">
          <a class="navbar-brand" href="{% url 'posts:index' %}">
          <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
          <span style="color:red">Ya</span>tube</a>
        </a>
        {% with request.resolver_match.view_name as view_name %}
        <ul class="nav nav-pills">
          <li class="nav-item"> 
            <a class="nav-link
              {% if view_name  == 'about:author' %}
                active
              {% endif %}"
              href="{% url 'about:author' %}"><b>Об авторе</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link
              {% if view_name  == 'about:tech' %}
                active
              {% endif %}"
              href="{% url 'about:tech' %}"><b>Технологии</b></a>
          </li>
          {% if user.is_authenticated%}
          <li class="nav-item"> 
            <a class="nav-link
            {% if view_name == 'posts:post_create' %}
              active
            {% endif %}"
            href="{% url 'posts:post_create' %}"><b>Новая запись</b></a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link link-light
              {% if view_name  == 'users:password_reset_form' %}
                active
              {% endif %}"
              href="{%url 'users:password_reset_form'%}"><b>Изменить пароль</b></a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link link-light 
            {% if view_name == 'users:logout'%}
              active
            {% endif %}"
            href="{% url 'users:logout' %}"><b>Выйти</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light
            {% if view_name == 'posts:profile'  and user == author  %}
              active
            {% endif %}"
            href="{% url 'posts:profile' user.username %}"> <b>Пользователь: {{user.username}}</b></a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-link position-relative" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              <img src="{% static 'img/fav/bell.svg' %}" alt="" width="30" height="30">
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                99+
                <span class="visually-hidden">непрочитанные сообщения</span>
              </span>
            </button>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Уведомления</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% else %}
          <li class="nav-item"> 
            <a class="nav-link link-light
            {% if view_name == 'users:login' %}
              active
            {% endif %}"
            href="{% url 'users:login' %}"><b>Войти</b></a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link link-light
            {% if view_name == 'users:signup'%}
              active
            {% endif %}"
            href="{% url 'users:signup' %}"><b>Регистрация</b></a>
          </li>
          {% endif %}
        </ul>
        {% endwith %}
       </div>
    </nav>
  </header>